<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="Feature"><directory>tests/Feature</directory></testsuite>
        <testsuite name="Unit">   <directory>tests/Unit</directory></testsuite>
    </testsuites>
    <source>
        <include><directory suffix=".php">app</directory></include>
    </source>
    <php>
        <env name="APP_ENV"             value="testing"/>
        <env name="APP_KEY"             value="base64:LE0E7lOpBfAuvz0jIu+ZIgxlk67rBjEjkPF2xL/wYJg="/>
        <env name="BCRYPT_ROUNDS"       value="4"/>
        <env name="CACHE_DRIVER"        value="array"/>
        <env name="DB_CONNECTION"       value="pgsql"/>
        <env name="DB_DATABASE"         value="a1sms_test"/>
        <env name="MAIL_MAILER"         value="array"/>
        <env name="QUEUE_CONNECTION"    value="sync"/>
        <env name="SESSION_DRIVER"      value="array"/>
        <env name="GATEWAY_ENABLE_MOCK" value="true"/>
        <env name="TRIAL_DAYS"          value="14"/>
        <env name="TRIAL_SMS_LIMIT"     value="50"/>
        <env name="STRIPE_KEY"          value="pk_test_stub"/>
        <env name="STRIPE_SECRET"       value="sk_test_stub"/>
    </php>
</phpunit>
